body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: url("../src/asserts/images/AllInOne.jpg") center/cover fixed no-repeat;
}
.dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}