.Navbar{
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}
.Logo{
    margin-top:10px;
    margin-left: 50px;
    height: 60px;
    align-self: flex-start;
}
.logoName{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 25px;

}
.searchInput{
    margin-top: 25px;
    height: 25px;
    width: 400px;
    margin-left: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.mobile_nav{
    margin-top: 80px;
    background-color: black;
    position: absolute;
    left: 0;
    color: white;
    height: 100vh;
    width: 100vw;
}

.searchInput_mobile{
    margin-top: 25px;
    height: 25px;
    width: 68vw;
    margin-left: 5vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.search_mobile{
    margin-left: 5vw;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.searchButton{
    margin-top: 23px;
    height: 29px;  
    background-color: rgb(249, 249, 81);
    color: black;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.searchButton_mobile{
    margin-top: 23px;
    height: 29px;  
    background-color: rgb(249, 249, 81);
    color: black;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 10vw;
}

.dropdown{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top:10px;
}
.MainContent{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(246, 244, 201);
    flex-wrap: wrap;
    height: 200px;
    width: 220px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    margin: 7px;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 205, 0.7);
}

.cards:hover{
    box-shadow: 9px 9px 14px 0px rgba(255, 255, 205, 0.7);
    /* height:181px;
    width: 201px; */
}
.id{
    color: rgb(62, 70, 36);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: right;
    width: 100%;
}
.Name{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80px;
}
.type{
    font-size: 12px;
    background-color: rgb(54, 50, 50);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    max-width: fit-content;
}
.totalResults{
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
}
.nameAndType{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.idAndImage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.image{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 80px;
    height: 80px;
    padding-bottom: 10px;
    font-size: 10px;
}
.ShowStats{
    font-size: 10px;
    color: black;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.sweetAlertContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SweetAlertImage{
    text-align: center;
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-bottom: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}
.statsName{
    width: 100px; 
    text-align: left;
    margin-left: 20px; 
    margin-right: 30px;
}
.scroll-bar{
    width: 100px;
    height: 10px;
    background: rgb(189, 185, 185);
    overflow: hidden;
}
.statsTable{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}
.sweetTitle{
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: 700;
}

.mobile-hamburger {
    display: none;
    font-size: 20px;
    color: white;
    position: absolute;
    left:20px;
    top: 25px;
    cursor: pointer;
    z-index: 6;
  }

.sweetAlertPrompt{
    background: url("../../asserts/images/allPokemon.png") center/cover fixed no-repeat;
}

@media (max-width: 1100px) {
    .mobile-hamburger {
      display: block;
    }
  
    .nav {
      display: none;
    }
}
@media (max-width: 600px){
    .searchInput_mobile{
        width: 48vw;
    }
    .searchButton_mobile{
        width: 30vw;
    }
}
@media (max-width: 550px){
    .sweetAlertMobile{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .sweetAlertStatsMobile{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .statsTable{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 330px){
    .scroll-bar{
        width: 70vw;
    }
}